
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
.aboutusmainnn{
    padding: 0 5rem;
    width: 100%;
    height: 90rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0rem;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #ccdbfd;
    color: black;
}

.aboutusmainnn .homeleft{
    width: 50%;
    height: 95vh;
    /* border: 1px solid white; */
    margin-bottom: 50px;
    margin-left: 10rem;
    padding-left: 1rem; 
}
.aboutusmainnn h1{
    width: 45rem;
    font-size: 7.1rem;
    line-height: 5rem;
    margin-top: 20rem;
    font-weight: 900;
    text-transform: capitalize;
   
}
.aboutusmainnn h2{
    width: 45rem;
    font-size: 2.3rem;
    font-weight: 700;
    text-decoration: underline;
    /* line-height: 5rem; */
    margin-top: 3rem;
    text-transform: capitalize;
    padding-bottom: 0rem;
}

.aboutusmainnn  h3{
    width: 45rem;
    font-size: 1.5rem;
    /* line-height: 5rem; */
    font-style: italic;
    text-transform: capitalize;
}
.aboutusmainnn .homeleft p{
  width: 100%;
  height: 1vh;
  font-size: 2.1rem;
  padding-right: 15rem;
  
} 

 .aboutusmainnn .aboutus-right-sidee{
    padding: 0;
    border:1px solid #abc4ff;
    border-radius: 100px;
    background-image:linear-gradient(#abc4ff,#ccdbfd) ;
    margin-bottom: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutusmainnn .aboutus-right-sidee img{
    width:90rem;
    height: 70rem;
    padding-top: 3rem;
    padding-right: 5rem;
    padding-bottom: 3rem;
}

/* .aboutusmainnn .button-group{
    width:90rem;
    height: 80rem;
    /* margin-top: 100rem; */
    
.button-groupp{
    margin-top: 150px;
    border-radius: 2rem;
    /* padding-top: 5rem; */
    outline:none;
    line-height: 3.6rem;
    text-transform: capitalize;
    cursor: pointer;
    font-style:normal ;
    font-weight:normal ;
    font-size:2rem;
}

.common-buttonn{
    border: none;
    padding: 1rem 2rem;
    margin-right: auto;
    /* padding-right: 3rem; */
    border-radius: 8px;
    background-color:#468faf;
    color: #fff;
}
.common-button-normall{
    border: none;
    padding: 1rem 2rem;
    border-radius: 10px;
    background-color:#468faf ;
    margin-left: 2rem;
    color: #fff;

}
.common-buttonn:hover{
    background-color: #014f86;
}
.common-button-normall:hover{
    background-color: #014f86;
}